:root {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #808080;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

main {
	width: 100vw;
}
